
BOT_TOKEN=
#Подключение токена бота

admin=
#Получение админских прав для доступа к админской панели через UID аккаунта

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
#Подключение к базе данных PostGres